html {
  margin:0;
}

body {
  background-color: #F8F6F3;
  margin:50px 0 0 0;
}

.hp {
  margin:0;
}

.hphead {
  color:#F8F6F3;
  background-color:black;
  width:100%;
  padding: 100px 0;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size:7vh;
  line-height:1.1;
  font-weight: normal;
  text-align:center;
  width:100%;
  margin-bottom:25px;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size:3vh;
  font-weight:normal;
  margin-top:0;
  text-align:center;
  margin-bottom:25px;
}

h3 {
margin-top:0;
font-weight:normal;
font-family: 'Crimson';
text-align:center;
font-size:22px;
margin-top:0;
margin-bottom:50px;
}

header {
  display:flex;
  flex-direction:column;
  justify-items:center;
  align-items:center;
}

hr {
    border:2px solid black;
    width:100%;
/*    margin-bottom:100px;*/
}

.wrapper {
  display: flex;
  flex-direction:column;
  align-items:center;
  padding:0 50px;
}

/*.module {
  margin-bottom:100px;
}*/

::selection {
  color: navy;
  background: #326BFF;
}

.bodycopy {
  max-width:60%;
  font-size:22px;
  line-height:1.3;
}

.center {
  text-align:center;
}

.caps {
  text-transform: uppercase;
  letter-spacing:.1px;
}

.italic {
  font-style: italic;
}

a {
  color:#326BFF;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h5 {
  font-family: 'Fjalla One', sans-serif;
  font-size:3vh;
  margin-bottom:25px;
}

.pullquote {
  font-size:4vh;
  text-align: center;
  max-width:500px;
}

footer {
  height:20px;
  background-color:black;
  margin:0;
  padding:0;
}

.module.bigimg {
    width: 100%;
}

.module.medimg {
      width: 70%;
  }

  .module.smallimg {
        width: 40%;
    }


img {
  width: 100%;
}

video {
  width: 100%;
}